<body>
	<div class="row no-gutters">
		<div class="col-md-6">
			<div class="leftside d-flex justify-content-center align-items-top">
  					<div class="w3-container w3-center">
  						&nbsp;<br>&nbsp;
  						<img class ="mx-auto d-block" src="/assets/schulichLogo2.png" alt="Avatar" height="95rem">
  						&nbsp;
    					<h3 class="align-items-center d-flex justify-content-center" align="center">
    						<b>BSc Software Engineering</b>
    					</h3>
              <h4 class="align-items-center d-flex justify-content-center" align="center">
                (2016 - 2022)
              </h4>
    					<li><b>CPSC 319</b> - Data Structures, Algorithms, and Their Applications</li>
    					<li><b>CPSC 441</b> - Computer Networks</li>
    					<li><b>CPSC 457</b> - Principles of Operating Systems</li>
    					<li><b>CPSC 471</b> - Data Base Management Systems</li>
    					<li><b>ENCM 369</b> - Computer Organization</li>
    					<li><b>ENCM 511</b> - Embedded System Interfacing</li>
    					<li><b>ENEL 353</b> - Digital Circuits</li>
    					<li><b>ENSF 409</b> - Principles of Software Development</li>
    					<li><b>ENSF 480</b> - Principles of Software Design</li>
    					<li><b>SENG 401</b> - Software Architecture</li>
    					<li><b>SENG 438</b> - Software Testing, Reliability, and Quality</li>
    					<li><b>SENG 471</b> - Software Requirements Engineering</li>
    					<li><b>SENG 511</b> - Software Process and Project Management</li>
  					</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="rightside d-flex justify-content-center align-items-top">
  					<div class="w3-container w3-center">
  						&nbsp;<br>&nbsp;
  						<img class ="mx-auto d-block" src="/assets/haskayneLogo.png" alt="Avatar" height="95rem">
  						&nbsp;
    					<h3 class="align-items-center d-flex justify-content-center" align="center">
    						<b>BComm Finance</b>
    					</h3>
              <h4 class="align-items-center d-flex justify-content-center" align="center">
                (2016 - 2022)
              </h4>
    					<li><b>BSEN 395</b> - Business Law for Strategic Decision-Makers</li>
    					<li><b>ECON 201</b> - Principles of Microeconomics</li>
    					<li><b>ECON 203</b> - Principles of Macroeconomics</li>
    					<li><b>FNCE 317</b> - Financial Management</li>
    					<li><b>FNCE 449</b> - Trading and Market Data Management</li>
    					<li><b>FNCE 451</b> - Corporate Finance</li>
    					<li><b>FNCE 471</b> - The Calgary Portfolio Management Trust</li>
    					<li><b>MGST 391</b> - Business Analytics</li>
    					<li><b>OBHR 317</b> - Organizational Behavior</li>
              &nbsp;<br>&nbsp;
  					</div>
			</div>
		</div>
	</div>
</body>
