<body>
	<div class="row no-gutters" id="myTop">
		<div class="col-md-6">
			<div class="leftside d-flex justify-content-center align-items-top">
				<div class="w3-container w3-center">
					&nbsp;<br>&nbsp;
					<img class ="mx-auto d-block" src="./assets/profile3.jpg" alt="Avatar" width="300rem">
					&nbsp;<br>&nbsp;
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="rightside d-flex justify-content-center align-items-top">
				<div class="w3-container w3-center">
					&nbsp;<br>&nbsp;
					<p>{{ bioIntro }}</p>
					<p>{{ bioSoftware }}</p>
					<p>{{ bioStocks }}</p>
					<p>{{ bioSelf }}</p>
				</div>
			</div>
		</div>
	</div>
</body>
