<body>
	<div class="leftside d-flex justify-content-center align-items-top">
		<div class="w3-container w3-center">
			&nbsp;<br>&nbsp;
			<div class="card">
				<div class="container">
					&nbsp;
					<h4><b>Options Volatility Research Paper</b></h4>
					<p>{{ OVRP1 }}</p>
					<p>{{ OVRP2 }}</p>
          <a mat-list-item href="./assets/OptionsVolatilityResearchPaper.pdf" target="_blank">Options Volatility Research Paper</a>
          <a mat-list-item href="./assets/OptionsVolatilityDataAndAnalysis.zip" target="_blank">Options Volatility Support Model (ZIP)</a><br>
          &nbsp;
				</div>
			</div>
		</div>
	</div>
	<div class="leftside d-flex justify-content-center align-items-top">
		<div class="w3-container w3-center">
			&nbsp;<br>&nbsp;
			<div class="card">
				<div class="container">
					&nbsp;
					<h4><b>Software Architecture Research Paper</b></h4>
					<p>{{ SARP1 }}</p>
					<p>{{ SARP2 }}</p>
          <a mat-list-item href="./assets/SoftwareArchitectureResearchPaper.pdf" target="_blank">Software Architecture Research Paper</a><br>
          &nbsp;
				</div>
			</div>
		</div>
	</div>
  <div class="leftside d-flex justify-content-center align-items-top">
		<div class="w3-container w3-center">
			&nbsp;<br>&nbsp;
			<div class="card">
				<div class="container">
					&nbsp;
					<h4><b>Deadlock Detection Algorithm</b></h4>
					<p>{{ deadlock1 }}</p>
					<p class="center">
						<img src="./assets/deadlock.png" alt="deadlock image" width="160rem">
					</p>
					<p>{{ deadlock2 }}</p>
					<p style="white-space: pre;">{{ deadlockInput }}</p>
					<p>{{ deadlockInput2 }}</p>
					<p>{{ deadlock3 }}</p>
					<p><b>Browser Links</b> <br>
						<a href="./assets/deadlockDetectionAlgorithm.cpp" target="_blank">
							C++ Deadlock Detection Algorithm
						</a><br>
						<a href="./assets/sampleInput.txt" target="_blank">Sample Input File</a><br>
					</p>
					<p><b>Download Links</b> <br>
						<a href="./assets/deadlockDetectionAlgorithm.cpp" target="_blank" download="deadlockDetectionAlgorithm.cpp">
							C++ Deadlock Detection Algorithm
						</a><br>
						<a href="./assets/sampleInput.txt" target="_blank" download="input.txt">
							Sample Input File
						</a><br>
					</p>
					&nbsp;
				</div>
			</div>
		</div>
	</div>
	<div class="leftside d-flex justify-content-center align-items-top">
		<div class="w3-container w3-center">
			&nbsp;<br>&nbsp;
			<div class="card">
				<div class="container">
					&nbsp;
					<h4><b>Technical Analysis</b></h4>
					<p>{{ technicalAnalysis1 }}</p>
					<p>{{ technicalAnalysis2 }}</p>
					<a mat-list-item href="./assets/TechnicalAnalysis.pdf" target="_blank">Technical Analysis Guide</a><br>
					&nbsp;
				</div>
			</div>
		</div>
	</div>
	<div class="leftside d-flex justify-content-center align-items-top">
		<div class="w3-container w3-center">
			&nbsp;<br>&nbsp;
			<div class="card">
				<div class="container">
					&nbsp;
					<h4><b>Expense Handler Database Design</b></h4>
					<p>{{ DMAD }}</p>
					<p>{{ DMAD2 }}</p>
					<p>{{ DMAD3 }}</p>
					<a mat-list-item href="./assets/EERD.pdf" target="_blank">Expense Handler EERD</a>
					<a mat-list-item href="./assets/RelationalModel.pdf" target="_blank">Relational Model</a><br>
					&nbsp;
				</div>
			</div>
		</div>
	</div>
	<div class="leftside">
		<br><br>
	</div>
</body>
