<body>
<div class="leftside d-flex justify-content-center align-items-top">
  <div class="w3-container w3-center">
    &nbsp;<br>&nbsp;
    <h3 class="align-items-center d-flex justify-content-center align-items-top"><b>Rotman International Trading
      Competition</b></h3>
    <hr>
    <img class="mx-auto d-block" src="./assets/RITCLogo.png" alt="Avatar" width="233rem">
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center">
      (March 2020 - Present)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center">
      <b>University of Calgary Trading Team</b>
    </h5>
    <li>Finished <b>6th</b> out of 45 teams and 40 universities on an international level
      competing against both undergraduate and Master of Financial Engineering students,
      with a <b>4th</b> place finish in algorithmic trading, <b>5th</b> place finish in liquidity risk,
      and <b>8th</b> place finish in BP Commodities
    </li>
    <li>Covered various topics including futures arbitrage, Black-Scholes options, energy trading, and market making
    </li>
    <li>Developed multiple algorithmic models delivering consistent top results for Black-Scholes options and
      algorithmic market making cases
    </li>
    &nbsp;<br>&nbsp;
    <h3 class="align-items-center d-flex justify-content-center align-items-top"><b>Calgary Portfolio Management
      Trust</b></h3>
    <hr>
    <img class="mx-auto d-block" src="./assets/CPMTLogo2.png" alt="Avatar" width="233rem">
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center">
      (April 2020 - April 2021)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center">
      <b>Portfolio Manager</b>
    </h5>
    <li>Improved performance, accuracy, and remote accessibility of fund attribution analytics by migrating the legacy
      excel Bloomberg model to use Google Finance and Google Sheets
    </li>
    <li>Wrote equity research reports on multiple companies backed by three statement financial models complete with
      discounted
      cash flows and comparables analysis
    </li>
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center">
      (April 2019 - April 2020)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center">
      <b>Investment Analyst</b>
    </h5>
    <li>Manage a ~$500 000 student led fund on behalf of the University of Calgary</li>
    <li>Provide weekly updates for sector holdings</li>
    <li>Create financial models using Bloomberg and Microsoft Excel</li>
    <li>Publish monthly updates on portfolio holdings while working on a team</li>
    &nbsp;<br>&nbsp;
    <h3 class="align-items-center d-flex justify-content-center align-items-top"><b>Finesse Wealth Management</b></h3>
    <hr>
    <img class="mx-auto d-block" src="./assets/fwm.png" alt="Avatar" width="233rem">
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center">
      (November 2018 - May 2019)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center">
      <b>Head of Financials</b>
    </h5>
    <li>Lead a team of analysts to publish one pagers for financial sector pitches and holdings</li>
    <li>All one pagers included a trading strategy and target valuation</li>
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center">
      (September 2018 - October 2018)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center">
      <b>Financial Sector Analyst</b>
    </h5>
    <li>Valued ETFs and individual securities in the financial sector using metrics such as beta, Sharpe ratio,
      volatility, and liquidity in conjunction with comparable company and discounted cash flow analysis
    </li>
    <li>Utilized macroeconomic and technical analysis to identify optimal entry and exit prices based on valuation</li>
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center">
      (September 2017 - August 2018)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center">
      <b>Director of Risk Management</b>
    </h5>
    <li>Led the risk management team to ensure that the portfolio had appropriate exposure to each industry</li>
    <li>Gave presentations on various option hedging strategies</li>
    &nbsp;<br>&nbsp;
    <h3 class="align-items-center d-flex justify-content-center align-items-top"><b>Youth Central</b></h3>
    <hr>
    <img class="mx-auto d-block" src="./assets/YouthCentral.png" alt="Avatar" height="194rem">
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center">
      (May 2015 - September 2015)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center">
      <b>Youth Volunteer</b>
    </h5>
    <li>Volunteered with a team for over 150 hours in many different scenarios</li>
    <li>Over 75 hours working with animals, children, and elderly</li>
    <li>Over 60 hours working on special events and community related projects</li>
    &nbsp;<br>&nbsp;
  </div>
</div>
</body>
