<body>
<div class="leftside d-flex justify-content-center align-items-top">
	<div class="w3-container w3-center">
    &nbsp;<br>&nbsp;
    <h3 class="d-flex justify-content-center align-items-top" align="center"><b>Shareworks by Morgan Stanley</b></h3>
    <hr style="height: 0.3rem" color="#0066CC">
    <img class ="mx-auto d-block" src="/assets/ShareworksLogo.png" alt="Avatar" width="233rem">
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center" align="center">
      (May 2020 - Present)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center" align="center">
      <b>Full Stack Developer Intern</b>
    </h5>
    <li>Worked on a team employing <b>Test Driven Development</b> and Agile methodologies</li>
    <li>Developed multiple feature stories complete with performance testing</li>
    <li>Revamped sprint tracking statistics to be more presentable and user friendly for management</li>
    <li>Exposure to multiple different technologies including <b>Jenkins, Splunk, Weblogic, JProfiler, Gradle, and Oracle SQL</b></li>
		&nbsp;<br>&nbsp;
		<h3 class="d-flex justify-content-center align-items-top" align="center"><b>University of Calgary</b></h3>
		<hr style="height: 0.3rem" color="#0066CC">
		<img class ="mx-auto d-block" src="/assets/universityLogo.png" alt="Avatar" width="233rem">
    &nbsp;
    <h4 class="align-items-center d-flex justify-content-center" align="center">
      (January 2020 - April 2020)
    </h4>
    <h5 class="align-items-center d-flex justify-content-center" align="center">
      <b>Head Teaching Assistant</b>
    </h5>
    <li>Promoted to head teaching assistant for <b>BTMA 317</b> (Introduction to Business Technology Management)</li>
    <li>Responsible for creating multiple assignments and rubrics</li>
    <li>Delegated tasks and provided assistance to teaching assistants</li>
    <li>Proctored and graded midterm/final examinations</li>
    <li>Worked closely with professors to maintain student academic integrity during worldwide pandemic</li>
		&nbsp;
		<h4 class="align-items-center d-flex justify-content-center" align="center">
   			(September 2019 - December 2019)
		</h4>
		<h5 class="align-items-center d-flex justify-content-center" align="center">
   			<b>Teaching Assistant</b>
		</h5>
		<li>Teaching assistant for <b>BTMA 317</b> (Introduction to Business Technology Management) and <b>MGST 391</b> (Business Analytics)</li>
		<li>Provided academic assistance to students for class assignments</li>
		<li>Graded undergraduate student assignments and projects</li>
		&nbsp;
		<h4 class="align-items-center d-flex justify-content-center" align="center">
   			(September 2019 - April 2020)
		</h4>
		<h5 class="align-items-center d-flex justify-content-center" align="center">
   			<b>Learning Assistant</b>
		</h5>
		<li>Provided academic assistance to students in engineering for course material</li>
		<li>Covered a variety of first year general engineering courses and second year software engineering courses </li>
		&nbsp;
		<h4 class="align-items-center d-flex justify-content-center" align="center">
   			(May 2018 - August 2018)
		</h4>
		<h5 class="align-items-center d-flex justify-content-center" align="center">
   			<b>Software Intern</b>
		</h5>
		<li>Worked on a team to develop an Intelligent Medical Assistant</li>
		<li>Main developer of the front-end UI using Angular CLI, HTML, CSS, TypeScript, and Bootstrap</li>
		<li>Assistant developer of the back-end UI involving SQL, XML, PHP, Batch, and Python</li>
		<li>Presented and demonstrated software functionality to multiple potential investors</li>
		&nbsp;<br>&nbsp;
		<h3 class="d-flex justify-content-center align-items-top" align="center"><b>Math Tutors Calgary (Self Employed)</b></h3>
		<hr style="height: 0.3rem" color="#0066CC">
		<img class ="mx-auto d-block" src="/assets/MathTutorLogo.png" alt="Avatar" width="233rem">
		&nbsp;
		<h4 class="align-items-center d-flex justify-content-center" align="center">
   			(2019 January - Present)
		</h4>
		<h5 class="align-items-center d-flex justify-content-center" align="center">
   			<b>Web Developer</b>
		</h5>
		<li>Business website: <a href="https://www.mathtutorscalgary.ca" target="_blank">https://www.mathtutorscalgary.ca</a></li>
		<li>Used a combination of HTML/CSS, Twitter Bootstrap, and JavaScript to developed the business website </li>
		<li>Deployed the business website using GoDaddy hosting and an SSL Certificate</li>
		&nbsp;
		<h4 class="align-items-center d-flex justify-content-center" align="center">
   			(2015 August - 2018 December)
		</h4>
		<h5 class="align-items-center d-flex justify-content-center" align="center">
   			<b>Private Math Tutor</b>
		</h5>
		<li>Private tutor for Math 10-1, 20-1, 30-1, 30-2, and 31</li>
		<li>Professional experience working with students having different types of learning styles</li>
		&nbsp;<br>&nbsp;
	</div>
</div>
</body>
